@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-off-black text-white transition-colors;
  }
  /*a, button {
    @apply text-teal-600 hover:text-white hover:bg-teal-600;
  }
  input, li {
    @apply dark:bg-slate-600;
  }
  h1, p {
    @apply text-center;
  }
  .pseudobutton {
    @apply cursor-pointer select-none;
  }*/
}

@layer base {
  html {
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
  }
  .figtree {
    font-family: 'Figtree', sans-serif;
  }
}